.login-center {
    height: 100%;
    display: grid;
    place-items: center;
}

.login-center>.image-login {
    display: grid;
    place-items: center;
    position: relative;
    padding: 40px;
    background-color: rgba(29,177,62, 0.2);
    border-radius: 10px;
}

.login-center>.image-login>.github-logo {
    width: 19rem;
    height: 10rem;
    position: absolute;
    top: -80px;
}

.login-center>.image-login>.login {
    display: grid;
    place-items: center;
    height: 250px;
    width: 100%;
}

.login-center>.image-login>.login>.login-user {
    margin-top: 60px;
    display: flex;
}

.login-center>.image-login>.login>.login-user img {
    position: absolute;
}

.login-center>.image-login>.login>.login-user>.user::placeholder {
    color: #F8F8F8;
    font-size: 15px;
    align-items: center;
}

.login-center>.image-login>.login>.login-user>input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #F8F8F8;
    padding: 5px;
    position: relative;    
    padding-left: 27px;
    color: #F8F8F8;
}

.login-center>.image-login>.login>.login-user>input:focus {
    outline: 0;
}

.login-center>.image-login>.login>button, .button-repository {
    width: 250px;
    height: 2rem;
    border-radius: 5px;
    background-color: #F8F8F8;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.github-name {
    width: 7.5rem;
    height: 3rem;
}

.image-name-logo {
    bottom: 0;
    display: flex;
    justify-content: right;
    width: 100%;
    position: absolute;
}