.login-center {
    width: 100%;
    height: 78vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-center > .image-login {
    display: grid;
    place-items: center;
    position: relative;
}

.login-center > .image-login > .github-logo {
    width: 13rem;
    height: 7rem;
    position: absolute;
    top: -60px;
}

.login-center > .image-login > .login {
    padding: 20px;
    display: grid;
    place-items: center;
    height: 250px;
    width: 90%;
}

.login-center > .image-login > .login > .login-user {
    margin-top: 60px;
    display: flex;
}

.login-center > .image-login > .login > .login-user img {

}

.login-center > .image-login > .login > .login-user > input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #F8F8F8;
    padding: 5px;
}

.login-center > .image-login > .login > button {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    background-color: #F8F8F8;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.github-name {
    width: 6.5rem;
    height: 2.5rem;
}

.image-name-logo {
    display: flex;
    justify-content: right;
    width: 100%;
}